@import url('https://fonts.googleapis.com/css2?family=Ruthie&display=swap');

/* Colors */


h1 {
  font-family: 'Ruthie', cursive;
  font-weight: 400;
  font-size: 3rem;
}

a {
  text-decoration: none;
}