@import url('https://fonts.googleapis.com/css2?family=Ruthie&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  margin: 0px;
  padding: 0px;
  font-family: 'Roboto', sans-serif;
}

/* Colors */
:root {
  --dark-green: #002C04;
  --background-color: #FFFFFF;
  --light-gray: #F0F0F0;
  --light-green: #39D047;
}

html, body, #root, .App {
  height: 100%;
}

h1 {
  font-family: 'Ruthie', cursive;
  font-weight: 400;
  color: var(--dark-green);
}

a {
  text-decoration: none;
  color: var(--dark-green);
}

.hide {
  display: none;
}

.rotate {
  transform: rotate(180deg);
}

@media sceen and (min-width: 700px) {
  .hide-desktop {
    display: none;
  }
}

@media screen and (max-width: 700px) {
  .hide-mobile {
    display: none;
  }
}

.select-container {
  margin: 0.5rem 0;
  position: relative;
  display: inline-block;
  width: 9rem; 
}

.select-container::after {
  content: '\25BC'; 
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
}

.select-dropdown {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: white;
  appearance: none; 
  -webkit-appearance: none; 
}

.select-option {
  padding: 5px;
}

.select-option:hover {
  background-color: #f0f0f0;
}

.select-dropdown option[value="0"] {
  font-style: italic;
  color: #aaa;
}  
