.footer {
    display: flex;
    justify-content: center;
    border-top: solid 2px var(--dark-green);
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;  
    text-align: center;
}

.footer > * {
    margin: 0.3rem 1.5rem;
    color: var(--dark-green);
    text-decoration: underline;
}
.footer-bottom {
    /* fixed bottom */
    height: 3rem;
    width: 100%;
}