#hambuger-menu {
    position: relative;
    width: 100%;
    background: var(--background-color);
    display: flex;
    flex-direction: column;
    justify-content: start;
    text-align: left;
    z-index: 9999999;
    height: 999999999rem;
}

#hambuger-menu > .menu-el {
    cursor: pointer;
    font-size: 2rem;
    margin: 1rem 3rem;
}
