#hambuger-menu {
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
    width: 100%;
    height: 100%;
    background: var(--background-color);
    display: flex;
    flex-direction: column;
    justify-content: start;
    text-align: left;
}

#hambuger-menu > .menu-el {
    cursor: pointer;
    font-size: 2rem;
    margin: 1rem 3rem;
}
