.cart {
    display: flex;
    justify-content: space-between;
}

.cart > * {
    margin: 1.5rem;
}

.cart h3 {
    margin: 1.0rem 0px;
}

.cart-details {
    width: 60%;
}

.cart-details h3 {
    color: var(--dark-green);
    font-size: 2.0rem;
    font-family: 'Roboto' sans-serif;
    font-weight: 400;
}

.cart-summary {
    background-color: var(--light-gray);
    padding: 2rem;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: fit-content;
}

.cart-products > * {
    margin: 0.75rem 0px;
}


.cart-adress {

}

.cart-payment {

}

/* Summary */

.cart-summary h4 {
    color: var(--dark-green);
    font-size: 1.4rem;
    font-family: 'Roboto' sans-serif;
    font-weight: bold;
    margin-bottom: 1rem;
}

.summary {
    width: 100%;
}

.summary td {
    padding-bottom: 0.5rem;
    font-size: 1.2rem;
}

.summary td:last-child {
    padding-left: 4rem;
    text-align: right;
}

.valid-button {
    width: 100%;
    margin-top: 1rem;
}

.relay-popup {
    padding: 1rem;
    background: var(--background-color);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    height: 80%;
    display: flex;
    flex-direction: column;
    margin: 1rem;
}

#Zone_Widget {
    height: 90%;
}

#Zone_Widget button {
    height: 100%;
}

@media screen and (max-width: 700px) {
    .cart {
        flex-direction: column;
    }

    .cart-details {
        width: auto;
    }

    .delivery-kinds {
        width: 50%;
    }
}
    