.cart {
    display: flex;
    justify-content: space-between;
}

.cart > * {
    margin: 1.5rem;
}

.cart h3 {
    margin: 1.0rem 0px;
}

.cart-details {
    width: 60%;
}

.cart-details h3 {
    color: var(--dark-green);
    font-size: 2.0rem;
    font-family: 'Roboto' sans-serif;
    font-weight: 400;
}

.cart-summary {
    background-color: var(--light-gray);
    padding: 2rem;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: fit-content;
}

.popup-confirm {
    margin-top: 2rem;
}

.in-cart {
    max-height: 13.5rem;
    overflow: auto;
}

.in-cart > * {
    margin: 0.75rem 0px;
}


/* Summary */

.cart-summary h4 {
    color: var(--dark-green);
    font-size: 1.4rem;
    font-family: 'Roboto' sans-serif;
    font-weight: bold;
    margin-bottom: 1rem;
}

.summary {
    width: 100%;
}

.summary td {
    padding-bottom: 0.5rem;
    font-size: 1.2rem;
}

.summary td:last-child {
    padding-left: 4rem;
    text-align: right;
}

.valid-button {
    width: 100%;
    margin-top: 1rem;
}


.delivery-popup, .address-popup, .infos-popup {
    background: var(--background-color);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    display: flex;
    flex-direction: column;
    margin: 1rem;
    border-radius: 1rem;
    z-index: 1;
}

.address-popup {
    padding: 4rem 2rem;

}

.delivery-popup {
    padding: 2rem 2rem;
    height: 80%;
}

.infos-popup {
    padding: 4rem 2rem;
}

.infos-view{
    display: flex;
    flex-direction: column;
    border: 1px solid;
    padding: 1rem;
    border-radius: 1rem;
    cursor: pointer;
}

.infos-view span {
    margin: 0.1rem 0px;
}

.infos-view:hover {
    cursor: pointer;
    background-color: var(--light-gray);
}

#Zone_Widget {
    height: 90%;
}

#Zone_Widget button {
    height: 100%;
}

#payment-form {
    width: 100%;
}

@media screen and (max-width: 700px) {
    .cart {
        flex-direction: column;
    }

    .cart-details {
        width: auto;
    }

    .delivery-kinds {
        width: 50%;
    }
}
    