#product-list {
    display: flex;
    flex-direction: column;
}

.products-raw {
    display: flex;
    flex-direction: row;
}

.products-raw > * {
    margin: 0.3rem;
}

#product-list > div {
    margin: 0.4rem;
}