#product-list {
    display: flex;
    flex-direction: column;
}

.products-raw {
    display: grid;
    grid-template-columns: repeat(auto-fill, 7rem);
    grid-auto-rows: 1fr; /* This ensures each cell takes up equal height, even if content is of different sizes. */
    gap: 10px; /* For some spacing between items. */
    overflow-x: auto; /* To scroll if items exceed the container's width. */
    white-space: nowrap; /* To ensure content does not wrap to the next line. */  
}

.products-raw > * {
    margin: 0.3rem;
}

#product-list > div {
    margin: 0.4rem;
}

.header-row {
    display: flex;
    justify-content: space-between;
}

.header-row > * {
    margin: 0.6rem 0;
    margin-right: 1rem;
}

@media screen and (max-width: 700px) {
    .products-raw {
        /* max 2 raws */
        grid-template-columns: repeat(auto-fill, 7rem);
        grid-auto-rows: 1fr;
        
    }
}
    