.product {
    display: flex;
}

.product-block {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.product > * {
    margin: 1rem;
}

.product .price {
    display: block;
    font-family: 'Roboto' sans-serif;
    font-weight: 600;
    font-size: 1.4rem;
    margin: 1rem 0px;
    color: var(--dark-green);
}

.product h2 {
    font-family: 'Roboto' sans-serif;
    font-weight: bold;
    font-size: 2.2rem;
    margin-top: 0.25rem;
    color: var(--dark-green);
}

.product-description {
    font-family: 'Roboto' sans-serif;
    font-weight: 600;
    display: block;
    font-size: 1.2rem;
    color: var(--dark-green);
}

.product-details {
    margin-top: 0.6rem;
}

.product-details td {
    color: var(--dark-green);
    text-transform: uppercase;
    font-family: 'Roboto' sans-serif;
    font-weight: 500;
    padding-right: 1.0rem;
}

@media screen and (max-width: 700px) {
    .product {
        flex-direction: column;
    }
    .product-block {
        width: 100%;
    }
}