#dashboard {
    display: flex;
    justify-content: space-between;
    margin: 1rem;
}
#dashboard .column {
    width: 100%;
}

#dashboard .column > * {
    margin: 0 0 1rem 0;
}

.seach-col > * {
    margin-left: 1rem;
}

.column h3 {
    text-align: center;
}
