.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 40rem;
    margin: auto;
    width: 90%;
}

.login-form > input, .login-form > button {
    margin: 1.0rem 0px;
    width: 100%;
}

.login h3 {
    font-family: 'Roboto' sans-serif;
    font-weight: 500;
    font-size: 1.5rem;
    color: var(--dark-green);
    text-align: center;
    margin: 1.2rem;
    font-size: 2rem;
}
