header {
    display: flex;
    justify-content: space-between;
    margin: 0.5rem 0px;
    border-bottom: 2px solid var(--dark-green);
}

.personnal-nav {
    /* Vertical align */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.personnal-nav a {
    align-self: center;
    margin: auto 1rem;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}