.like-btn {
    background: transparent;
    border: transparent;
    cursor: pointer;
    outline: transparent;
    padding: 0px;
}

.heart-img {
    width: 1rem;
    height: 1rem;
    margin: auto;
}