.image-views {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    overflow: hidden;
    grid-gap: 0.5rem;
}

.image-views-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0.5rem;
    cursor: pointer;
    
}

.main-img {
    grid-column: span 2;
    grid-row: span 2;
}


.remaining {
    position: relative;
}

.remaining-amount {
    border-radius: 0.5rem;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
}