.preview {
    width: 10%;
    min-width: 7rem;
}

.preview-image {
    width: 100%;
    height: 100%;
    min-width: 7rem;
    object-fit: cover;
    border-radius: 0.5rem;
}

.preview-details {
    display: flex;
    justify-content: space-between;   
    height: 1.2rem;
}

.preview-details > * {
    margin: auto 0px;
}

.preview-like-size {
    display: flex;
}

.preview .product-size {
    line-height: 1rem;
}

.product-like {
    height: 1rem;
}
