.raw-preview {
    display: flex;
    height: 6rem;
}

.raw-preview-image {
    border-radius: 0.5rem;
}

.raw-preview-left {
    display: flex;
    flex-direction: column;
    margin-left: 1rem;
    width: 95%;
}

.raw-preview h4 {
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    max-height: 3ch;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
}

.raw-preview .p-details {
    text-transform: uppercase;
    font-size: 0.9rem;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    margin-top: 0.5rem;
}

.view-button {
    margin-top: 0.5rem;
}

.raw-preview-left .buttons {
    display: flex;
    justify-content: space-between;
}

.raw-preview .price {
    text-align: right;
}
